.modal {
width: calc(200px + 20vw);
margin: 0 auto;
border: 0;
}
.paper {
    text-align: center;
    padding: 10px;
    padding-top: 20px;
}
.paragraph {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;
}
.infoModalTitle {
    font-size: 1.0em;
}
