.modal {
width: 50%;
margin: 0 auto;
}
.paper {
    text-align: center;
    padding: 10px;
}
.paragraph {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
.infoModalTitle {
    font-size: 1.2em;
}
