.modal {
width: 50%;
margin: 0 auto;
}
.paper {
    text-align: center;
    padding: 12px;
}
.paragraph {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}
.infoModalTitle {
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 2em;
}
